@import "//db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text";
.cb-container {
   
}
.choicebox-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.cb-row{
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    padding:16px

}
.cb-choice {
    margin:0;
    margin-left: 10px;
    padding: 0;
    
    font-family: "SF Pro Text";
    color: #1A051D;
    font-style: normal;
    font-size: 15px;
    line-height: 22px;
}
.cb-label {
    font-family: "SF Pro Text";
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #3F3356;
}