
html, body, #app, #app>div {
    //height: 100%;
  }
  body > #root > div {
    height: 100vh;
    overflow-y: scroll;
    background: rgba(247, 247, 248, 0.6);
    
  }

.form-container {
    
  
}
.form-wrapper {
  display: block;
  margin: auto;

  margin-top: 10vh;
  margin-bottom: 10vh;

  max-height: 100vh;
  max-width: 100vh;
}

.form-row {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 30vh;
  line-height: 20px;
}