
html, body, #app, #app>div {
    //height: 100%;
  }
  body > #root > div {
    height: 100vh;
    overflow: scroll;
  }

.form-container {
    background: rgba(247, 247, 248, 0.6);
    border:5px solid red;
    
    //position: fixed;
    //width: 100%;
    //height: 100%;
    //overflow: auto;
    
}
.form-wrapper {
  display: block;
  margin: auto;

  margin-top: 10vh;
  margin-bottom: 10vh;

  max-height: 100vh;
  max-width: 100vh;
  border:1px solid red; 
}

.form-row {
  margin-bottom: 50px;
  margin-top: 50px;
  margin-left: 10px;
  line-height: 20px;
}