
.ti-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 240px;
    
}
.ti-input {
    background: #FFFFFF;
    border: 1px solid #ECEBED;
    box-sizing: border-box;
    border-radius: 8px;
    width: 240px;
    height:38px;

    color: #1A051D;
    font-style: normal;
	font-size: 13px;
	line-height: 18px;
    font-family: "SF Pro Text";
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 9px 20px 9px 20px;
    resize: none;

    outline: none; //FIX THIS!!!!!!!!
    &::placeholder {
        color: #D0C9D6;
    }
}
.ti-input.default {
    box-shadow: 0px 7px 64px rgba(0, 0, 0, 0.07);
    border-radius: 6px;
    height: 48px;
    font-size: 15px;
    line-height: 20px;
    border:none;
    &:focus {
        border: 1px solid #ECEBED;
        box-sizing: border-box;
    }
}
.ti-input.long {
    height: 140px;
    padding: 14px 12px 0px 12px;
    &:focus {
    border: 1px solid #D0C9D6;
    }
}
.ti-input.error {
    border: 1px solid #ff647c;
    box-shadow: 0 5px 11.5px rgba(255, 100, 124, 0.07);
}
.ti-label {

    font-family: "SF Pro Text";
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 150% */
    text-transform: uppercase;
    color: #3F3356;
}
.ti-error {
    color: #FF647C;

    overflow: hidden;
}