.loading-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
}

.loading-wrapper .dots{
  box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  width: 100%;
  height: 30px;
background: red;
}
.loading-wrapper .progress{
  width: 200px;
  height: 29px;
}

.header {

}

.header .slider{

}

.header .dot-pulse {

}

/**
 * ==============================================
 * Progress Bar
 * ==============================================
 */
.progress-bar {
  position: relative;
  height: 8px;
  width: 200px;
  border-radius: 8px;
  border: none;
  background: #D5F2EA;
}

.filler {
  background: #00C48C;
  height: 100%;
  border-radius: inherit; 
  transition: width .2s ease-in;
}

#vids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#vids a:first-of-type {
  margin-bottom: 5px;
}
/**
 * ==============================================
 * Dot Pulse
 * ==============================================
 */
 @mixin dot(
    $width: $dot-width,
    $height: $dot-height,
    $radius: $dot-radius,
    $bg-color: $dot-bg-color,
    $color: $dot-color
  ) {
    width: $width;
    height: $height;
    border-radius: $radius;
    background-color: $bg-color;
    color: $color;
  }
  $dot-width: 4px !default;
  $dot-height: 4px !default;
  $dot-radius: $dot-width/2 !default;
  
  $dot-color: #3F3356 !default;
  $dot-bg-color: $dot-color !default;
  $dot-before-color: $dot-color !default;
  $dot-after-color: $dot-color !default;
  
  $dot-spacing: $dot-width * 2 !default;



 $left-pos: -9999px;
 $x1: -$left-pos - $dot-spacing;
 $x2: -$left-pos;
 $x3: -$left-pos + $dot-spacing;
 
 .dot-pulse {
   //position: relative;
   display: flex;
   position: relative;
  
   left: $left-pos;
 
   @include dot;
 
   box-shadow: $x2 0 0 -5px $dot-color;
   animation: dot-pulse 1.5s infinite linear;
   animation-delay: .25s;
 
   &::before,
   &::after {
     content: '';
     display: inline-block;
     position: absolute;
     top: 0;
 
     @include dot;
   }
 
   &::before {
     box-shadow: $x1 0 0 -5px $dot-before-color;
     animation: dot-pulse-before 1.5s infinite linear;
     animation-delay: 0s;
   }
 
   &::after {
     box-shadow: $x3 0 0 -5px $dot-after-color;
     animation: dot-pulse-after 1.5s infinite linear;
     animation-delay: .5s;
   }
 }
 
 @keyframes dot-pulse-before {
   0% {
     box-shadow: $x1 0 0 -5px $dot-before-color;
   }
 
   30% {
     box-shadow: $x1 0 0 2px $dot-before-color;
   }
 
   60%,
   100% {
     box-shadow: $x1 0 0 -5px $dot-before-color;
   }
 }
 
 @keyframes dot-pulse {
   0% {
     box-shadow: $x2 0 0 -5px $dot-color;
   }
 
   30% {
     box-shadow: $x2 0 0 2px $dot-color;
   }
 
   60%,
   100% {
     box-shadow: $x2 0 0 -5px $dot-color;
   }
 }
 
 @keyframes dot-pulse-after {
   0% {
     box-shadow: $x3 0 0 -5px $dot-after-color;
   }
 
   30% {
     box-shadow: $x3 0 0 2px $dot-after-color;
   }
 
   60%,
   100% {
     box-shadow: $x3 0 0 -5px $dot-after-color;
   }
 }